<?xml version="1.0" encoding="UTF-8"?>
<!--配置文件优先级，从高到低-->
<!--log4j.configurationFile,log4j2-test.properties,log4j2-test.yaml,
log4j2-test.yml,log4j2-test.json,log4j2-test.jsn,log4j2-test.xml,log4j2.properties,
log4j2.yaml,log4j2.yml,log4j2.json,log4j2.jsn,log4j2.xml-->
<!--monitorInterval:指定间隔监控配置文件是否更改，更改后自动重新配置，不需要重启服务。-->
<configuration name="logs" status="info" monitorInterval="300" strict="false">

    <properties>
        <property name="catalina.home">${sys:user.home}/logs</property>
    </properties>

    <appenders>
        <!--打印日志到控制台-->
        <Console name="stdout" target="SYSTEM_OUT">
            <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="%d{HH:mm}_%p_%class{36}_%M_[%t:%L] %m%n"/>
        </Console>

        <!--将info级别的信息追加到info.log日志文件-->
        <RollingFile name="infoLog"
                     fileName="${catalina.home}/info.log"
                     append="true"
                     filePattern="${catalina.home}/info_%d{yyyy-MM-dd}.log.zip">
            <PatternLayout
                    pattern="%d %c{1.}-%p %class{36}-%M() [%t:%L] %m%n"/>
            <!--过滤器，只展示info，不展示error-->
           <!-- <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!--删除以info_*.log.zip结尾，超过7天的日志文件-->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="info_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


        <!--将error级别的信息追加到error.log日志文件-->
        <!--filePath：${catalina.home}/app-%d{yyyy-MM}.log 按月生成日志-->
        <!--filePath：${catalina.home}/app-%d{yyyy-MM-dd-HH-mm}.log 按分钟生成日志-->
        <RollingFile name="errorLog"
                     fileName="${catalina.home}/error.log"
                     append="true"
                     filePattern="${catalina.home}/error_%d{yyyy-MM-dd}_%i.log.zip">
            <PatternLayout
                    pattern="%d %c{1.}-%p %class{36}-%M() [%t:%L] %m%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <!--多少时间生成一个日志文件，1天,modulate="true"：以0点为边界-->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--设置单个日志文件的大小上限,使用它一般会在文件中filePattern采用%i模式-->
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <!--DefaultRolloverStrategy:
               设置符合同个filePath的日志文件的最大数量
               新产生的日志文件会覆盖旧的日志文件
            -->
            <!--删除以error_*.log.zip结尾，超过5天的日志文件-->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="error_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--将特定的信息追加到custom.log日志文件-->
        <RollingFile name="customLog"
                     fileName="${catalina.home}/custom.log"
                     append="true"
                     filePattern="${catalina.home}/custom_%d{yyyy-MM-dd-HH}-00.log.zip">
            <PatternLayout pattern="%d %c{1.}-%p %class{36}-%M() [%t:%L] %m%n"/>
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!--删除以custom__*.log.zip结尾，超过2小时的日志文件-->
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="custom_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="2d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--异步写入日志-->
        <Async name="AsyncLog">
            <AppenderRef ref="customLog"/>
        </Async>

        <!--自定义简单日志文件，分级别输出日志:debug-->
        <RollingFile name="simple_debug"
                     fileName="${catalina.home}/simple_debug.log"
                     append="true"
                     filePattern="${catalina.home}/simple_debug_%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="%d{HH:mm_ss}_%M %m%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!--删除以self_*.zip结尾，超过2小时的日志文件-->
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="simple_debug_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--自定义简单日志文件，分级别输出日志:info-->
        <RollingFile name="simple_info"
                     fileName="${catalina.home}/simple_info.log"
                     append="true"
                     filePattern="${catalina.home}/simple_info_%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="%d{HH:mm_ss}_%M %m%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!--删除以self_*.zip结尾，超过2小时的日志文件-->
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="simple_info_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--自定义简单日志文件，分级别输出日志:error-->
        <RollingFile name="simple_error"
                     fileName="${catalina.home}/simple_error.log"
                     append="true"
                     filePattern="${catalina.home}/simple_error_%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="%d{HH:mm_ss}_%M %m%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!--删除以self_*.zip结尾，超过2小时的日志文件-->
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="simple_error_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--自定义简单日志文件，分级别输出日志:info-->
        <RollingFile name="println"
                     fileName="${catalina.home}/println.log"
                     append="true"
                     filePattern="${catalina.home}/println_%d{yyyy-MM-dd}.log.zip">
            <PatternLayout pattern="%m%n"/>
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!--删除以self_*.zip结尾，超过2小时的日志文件-->
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${catalina.home}" maxDepth="1">
                    <IfFileName glob="println_*.log.zip"></IfFileName>
                    <!--S/m/d 秒/分/天-->
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--限制日志文件大小-->
        <!--配置日志写入mysql数据库 -->
        <!--<JDBC name="databaseAppender" tableName="logger_info">
            <ConnectionFactory class="vip.ipav.log.config.LoggerConnectionFactory"
                               method="getDatabaseConnection"/>
            <Column name="thread_name" pattern="%t"/>
            <Column name="class_name" pattern="%C"/>
            <Column name="method_name" pattern="%method"/>
            <Column name="beginTime" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}"/>
            <Column name="logger_level" pattern="%level"/>
            <Column name="logger_name" pattern="%c"/>
            <Column name="logger_message" pattern="%m"/>
            <Column name="logger_throwable" pattern="%throwable{3}"/>
            <Column name="createTime" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}"/>
        </JDBC>-->
        <!--
           tableName是数据库中的表名
           <Column>的name属性是指定数据库表中的字段名，pattern是匹配日志的内容格式，会将对应的内容写入到指定的字段下。
           <ConnectionFactory> 需要自定义数据库连接工厂类，并提供获取DataSource或者Connection的静态方法。
        -->
        <!--异步写入数据库-->
       <!-- <Async name="AsyncDatabaseAppender">
            <appender-ref ref="databaseAppender"/>
        </Async>-->
    </appenders>


    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效
      <logger>标签可以在<Root>标签中引用（全局使用）也可以在类调用时指定引用的名称，定向调用
      如：private static final Logger LOGGER_MAIL= LoggerFactory.getLogger("selfLogger");
      LOGGER_MAIL的日志都只会发送邮件，不写到文件中
    -->
    <loggers>
        <Logger name="customLogger" level="info" additivity="false">
            <AppenderRef ref="customLog"/>
            <AppenderRef ref="stdout"/>
        </Logger>

        <logger name="consoleLogger" level="debug" additivity="false">
            <AppenderRef ref="stdout"/>
        </logger>

        <logger name="simpleLogger" level="debug" additivity="false">
            <AppenderRef ref="simple_debug"/>
            <AppenderRef ref="simple_info"/>
            <AppenderRef ref="simple_error"/>
            <AppenderRef ref="stdout"/>
        </logger>

        <logger name="printlnLogger" level="trace" additivity="false">
            <AppenderRef ref="println"/>
            <AppenderRef ref="stdout"/>
        </logger>

        <!--同步数据库日志记录,不执行下面的全局设置Root-->
        <!--<logger name="AsyncDBLogger" level="error" additivity="false">
            <AppenderRef ref="databaseAppender"/>
            <AppenderRef ref="stdout"/>
        </logger>-->

        <!--异步日志记录，没有类名和方法名,includeLocation="true":让Root日志记录显示类名和方法，效率降低30倍左右
           additivity="false",不执行root里面的日志记录
       -->
        <AsyncLogger name="AsyncCustomLogger" level="info" additivity="false">
            <AppenderRef ref="AsyncLog"/>
        </AsyncLogger>

        <!--记录其它日志时，多会同时启用下面的日志-->
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="infoLog"/>
        </Root>
    </loggers>

</configuration>